@import "tailwindcss";

#particles canvas {
  z-index: -1;
  height: 100%;
  width:100%;
  position: absolute;

}

.head{
  height: 100vh; 
  background: url('../src/assets/img/header-img.jpg') no-repeat center center fixed; 
  background-size: cover; 
  position: relative;
  opacity: ;
  
}

.nav{
  position: relative; 
  z-index: 10; 
  background: rgba(0, 0, 0, 0.5);
}